.wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, .0);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 60px;
    height: 60px;
}