@media (min-width: 320px) {
    .scheduleRow {
        display: grid;
        padding: 0;
        margin: 0;
        list-style-type: none;
        grid-gap: 1px;
    }
}

@media (min-width: 1024px) {
    .scheduleRow {
        display: grid;
        padding: 0;
        margin: 0;
        list-style-type: none;
        grid-gap: .5px;
        box-sizing: content-box;
    }
}

.scheduleRow:hover {
    background-color: #cccccc77;
}

.scheduleRow li {
    color: #fff;
    border-radius: 5px;
    padding: 2px 1px;
    text-align: left;
}

.scheduleRow li button {
    text-align: left;
}

.unitTime {
    font-weight: 900;
}