.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.container input, .container textarea {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #2e287c;
    font-family: Roboto;
    font-size: 1rem;
    width: 100%;
}

.container input:first-child {
    width: available;
}

input[type='checkbox'] {
    width: 16px;
}

label {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    margin-bottom: 8px;
}